#footer-container {
  background-color: $green;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: 450px;
  outline: 1.5px solid $dark-grey;
  outline-offset: -0.75em;

  #slogan-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 25px;

    span {
      font-family: $playfair;
      color: $light-color;
      font-size: 1.25rem;
      text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
    }
  }

  #middle-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      bottom: 25px;
      width: 200px;
      align-self: center;
      justify-self: center;
      margin: 30px 0;
      text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
    }

    #social-links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 0rem;
      bottom: 1rem;

      a {
        color: $light-color;
        font-family: $roboto;
        font-weight: 100;
        font-size: 1rem;
        margin: 15px 0;
        text-decoration: underline 1px $light-color;
        text-underline-offset: 4px;

        // Color transition on hover off
        transition: 0.3s ease-out 0s;
      }

      a:hover {
        color: $red;
      }

      i {
        color: $light-color;
        font-size: 1.5rem;
        margin: 8px 5px 0 5px;
        padding-top: 10px;
      }

      i:hover {
        color: $red;

        // Color transition on hover off
        transition: 0.3s ease-out 0s;
      }

      #phone-container {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: -10px;
        #phone-number {
          i {
            margin-right: 10px;
          }
        }
      }
    }

    #book-btn-footer {
      display: none;
      font-family: $playfair;
      font-size: 1.25rem;
      border-radius: 10px;
      background-color: $red;
      border: none;
      text-decoration: none;
      padding: 8px 10px;
      // margin-left: 1rem;
      outline: none;
      cursor: pointer;

      // Color transition on hover off
      transition: 0.3s ease-out 0s;

      a {
        text-decoration: none;
        color: $light-color;
      }
    }

    #book-btn-footer:hover {
      background-color: button-background($green);
      transition: 0.3s ease 0s;

      transform: scale(0.98);
    }
  }

  #bottom-container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: -25px;

    p {
      font-weight: 100;
    }

    #copyright-text {
      font-size: 0.8rem;
      text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
    }

    #privacy-link {
      display: none;
    }

    #terms-link {
      display: none;
    }

    a {
      font-weight: 100;
      font-family: $roboto;
      text-decoration: none;
      color: $light-color;
      // text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
      // Color transition on hover off
      transition: 0.3s ease-out 0s;
    }

    a:hover {
      color: $red;
      transition: 0.3s ease 0s;
    }
  }
}

#designed-by {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: 1.5px solid $dark-grey;
  outline-offset: -0.4em;

  p {
    font-size: 0.8rem;
    position: relative;
    right: 1rem;
  }
  img {
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
    position: relative;
    right: 1rem;
  }
}
