// @media only screen and (max-width: 1015px) {
// }

@media only screen and (min-width: 850px) {
  body {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    #therapies-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .cell {
        height: 600px;
      }

      .cell-image {
        height: 600px;
      }
    }

    .cell-image {
      height: 600px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cell {
      height: 600px;

      #what-we-do {
        position: relative;
        bottom: 1rem;
      }
    }

    #covid-banner {
      height: 500px;
    }
  }
}
