.price-options {
  color: $light-color;
  font-family: $roboto;
}

#pricing-grid {
  h3 {
    font-family: $playfair;
    color: $light-color;
    font-weight: 300;
    font-size: 1.25rem;
    text-decoration: underline 3px $dark-grey;
    text-underline-offset: 8px;
    text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 25px;
    margin-top: 1.5rem;
    z-index: -1;
  }
}

.price-options {
  position: relative;
  top: 25px;

  span {
    font-family: $roboto;
    font-size: 1em;
  }

  .line {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin: 0 1em 0 1em;
    position: relative;
    top: -0.25em;
    color: $light-color;
  }

  .straight {
    margin-bottom: 0.5em;
    margin: 1.25em 0 1.25em 0;
  }
}
