#therapies-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .cell-image {
    height: 575px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .cell {
    height: 700px;
    h3 {
      font-family: $playfair;
      font-size: 1.563rem;
      font-weight: 300;
      color: $light-color;
      text-decoration: underline 3px $dark-grey;
      text-underline-offset: 8px;
      text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
      position: relative;
      margin-bottom: 1rem;
    }
  }
}

.book-pricing-btns {
  display: flex;
  margin-top: 1rem;
  .book-price-btn {
    font-family: $playfair;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: $light-grey;
    color: $light-color;
    border: none;
    text-decoration: none;
    padding: 8px 10px;
    outline: none;
    cursor: pointer;
    margin: 2rem 1rem;

    // Color transition on hover off
    transition: 0.3s ease-out 0s;
  }

  .book-price-btn:hover {
    background-color: $dark-grey;
    transition: 0.3s ease 0s;
    cursor: pointer;
    transform: scale(0.98);
  }
}
