@media only screen and (max-width: 414px) {
  body {
    #landingpage-showcase {
      #showcase-container {
        #showcase-top {
          .menu-btn {
            top: 4rem;
            right: 1.5rem;
          }
        }
      }
    }

    #designed-by {
      height: 60px;

      p {
        right: 0;
      }

      img {
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  body {
    #landingpage-showcase {
      height: 600px;
    }
    .cell {
      height: 900px;
    }
  }
}
