// Max-width media queries
@media only screen and (max-width: 700px) {
  #footer-container {
    #slogan-footer {
      bottom: 0;
    }
    #bottom-container-footer {
      bottom: 0;
    }
  }
}

// Min width media queries

@media only screen and (min-width: 1050px) {
  body {
    #landingpage-showcase {
      #showcase-container {
        #showcase-top {
          #navbar {
            display: flex;
          }

          #main-logo-link {
            img {
              left: -8rem;
            }
          }

          .menu-btn-burger {
            display: none;
          }
        }

        #showcase-middle {
          h1,
          #showcase-therapy {
            font-size: 4rem;
            margin: 0 1rem;
          }
        }
      }
    }

    #about-showcase {
      #about-container {
        #about-showcase-top {
          .menu-btn-burger {
            display: none;
          }

          #navbar {
            display: flex;
          }
        }
        #about-title {
          h1 {
            font-size: 3.052rem;
          }
        }
      }
    }

    #about-cell {
      height: 400px;
    }

    .page-info-container {
      height: 400px;
    }

    #therapies-showcase {
      #therapies-container {
        #about-showcase-top {
          .menu-btn-burger {
            display: none;
          }
          #navbar {
            display: flex;
          }
        }
      }
    }

    .cell {
      .cell-content {
        .price-options {
          .line {
            width: 100px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  body {
    .covid-banner-top {
      button {
        left: 0rem;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  #about-cell {
    height: 500px;
    #about-info {
      justify-content: center;
      align-content: center;
      p {
        width: 50%;
      }
    }
    img {
      position: relative;
    }

    #image-content {
      flex-direction: column;
      align-content: center;
    }
  }

  #footer-container {
    #middle-container-footer {
      flex-direction: row;
      justify-content: space-evenly;
      #book-btn-footer {
        display: block;
      }
    }

    #slogan-footer {
      span {
        font-size: 1.563rem;
      }
    }

    #bottom-container-footer {
      #privacy-link,
      #terms-link {
        display: block;
      }
    }
  }

  .cell {
    .cell-content {
      .price-options {
        .line {
          width: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  body {
    #landingpage-showcase {
      #showcase-middle {
        flex-direction: row;

        h1,
        #showcase-therapy {
          font-size: 3.5rem;
          margin: 0 0.5rem;
        }
      }

      #showcase-bottom {
        top: 150px;

        span {
          font-size: 1.953rem;
          margin: 0 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 550px) {
  .price-options {
    .line {
      width: 100px;
    }
  }

  .page-info-container {
    height: 400px;

    p {
      font-size: 1.1rem;
    }
  }

  #form-section {
    #container-cards {
      position: relative;
      top: 50px;
      .form-container {
        width: 500px;
        left: 0;
      }

      #form-message {
        textarea {
          width: 450px;
        }
      }
    }
  }
}
