<!doctype html>
<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='css/style.min.css'>

    <!-- Font Awesome Icons -->
    <script src='https://use.fontawesome.com/9dc279d470.js'></script>
    <link 
      rel='stylesheet' 
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' 
      integrity='sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==' 
      crossorigin='anonymous' 
    >
    <title>Equilibrium Remedial | Repair, Relax, Rebalance</title>

  </head>
  <body>
    <!-- Showcase | Intro Section and Navbar -->
    <div class='showcase about' id='therapies-showcase'>
      <div class='container flex'>
        <a href='/'><img id='logo' src='logo-jpg/ERLogo.png' alt='Equilibrium Remedial'></a>

        <div id='showcase-title'>
            <h1>Therapies</h1>
        </div>
        
        <nav id='navbar'
          <ul style='list-style-type: none' id='navlinks'>
              <li><a class='navbar-link' href='/'>Home</a></li>
              <li><a class='navbar-link' href='about'>About</a></li>
              <li><a class='navbar-link' style='border-bottom: 5px solid #9b4d67' href='therapies'>Therapies</a></li>
              <li><a class='navbar-link' href='pricing'>Pricing</a></li>
              <li><a class='navbar-link' href='contact'>Contact</a></li>
          </ul>
          <button class='book-btn' id='book-btn-1'>Book Now</button>
        </nav>
        
        <!-- // Hamburger Menu Overlay for Tablet and Mobile -->
        <div class='menu-btn'>
          <div class='menu-btn-burger'>
          </div>
          <div class='menu'>
            <div>
              <div>
                <ul>
                  <img id='logo-overlay' src='logo-jpg/ERLogo.png' alt='Equilibrium Remedial'>
                  <li><a href='/'>Home</a></li>
                  <li><a href='about'>About</a></li>
                  <li><a href='therapies' style='border-bottom: 5px solid #9b4d67'>Therapies</a></li>
                  <li><a href='pricing'>Pricing</a></li>
                  <li><a href='contact'>Contact</a></li>
                  <li><a href='contact'><button class='book-btn-overlay'>Book Now</button></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

      <!-- Therapies Page Information-  -->
    <div class='therapies-info'>
      <h2>Subheading</h2>
      <p>Aden was born right after the moon landing. Look at him go.
        We are a premium mobile and sports therapy service,
        focused on pain relief, increased mobility and relaxation.
        A fully customised massage that meets your needs.
        Nunc shizzle my nizzle crocodizzle fo shizzle, pulvinizzle cool, condimentizzle eget, vehicula id, dizzle. 
        Fizzle pot pot a shiznit hendrerizzle mattizzle. 
        Pellentesque i'm in the shizzle magna gangster i saw beyonces tizzles and my pizzle went crizzle commodo bizzle. Fizzle lobortizzle fermentum gizzle. Morbi hizzle. Maecenas quizzle gizzle cool crunk auctor. Integizzle break yo neck, yall viverra shiz. Curabitizzle sollicitudizzle fizzle purizzle. Morbi venenatis ma nizzle dang doggy shiznit. Nizzle sheezy enim vitae . Cizzle fo fizzle penatibizzle izzle mofo go to hizzle shizznit we gonna chung, fizzle ridiculus stuff.
      </p>
    </div>

    <!-- Therapies Section-->
    <div class='grid container'>
      <!-- Remedial Massage -->
      <div id='remedial-massage' class='cell cell-1 color-two'>
        <h3>Remedial Massage</h3>
        <div class='cell-text' id='text-1'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>
      <div class='cell cell-2'>
        <img class='responsive-img' src='./imgs/Therapy_02.jpg' alt='relaxation'>
      </div>

      <!-- Hotstone Massage -->
      <div class='cell cell-3'>
        <img class='responsive-img' src='./imgs/engin-akyurt.jpg' alt='photo-3'>
      </div>
      <div id='hotstone-massage' class='cell cell-4 color-one'>
        <h3>Hotstone Massage</h3>
        <div class='cell-text' id='text-2'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>

      <!-- Deep Tissue Massage -->
      <div id='deeptissue' class='cell cell-1 color-three'>
        <h3>Deep Tissue</h3>
        <div class='cell-text' id='text-1'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>
      <div class='cell cell-2'>
        <img class='responsive-img' src='./imgs/AdobeStock_200431666.jpg' alt='relaxation'>
      </div>

      <!-- Pregnancy Massage -->
      <div class='cell cell-3'>
        <img class='responsive-img' src='./imgs/conscious-design-pregnancy.jpg' alt='photo-3'>
      </div>
      <div id='pregnancy-massage' class='cell cell-4 light-grey'>
        <h3>Pregnancy Massage</h3>
        <div class='cell-text' id='text-2'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>

      <!-- Foot Massage -->
      <div id='footmassage' class='cell cell-1 color-one'>
        <h3>Foot Massage</h3>
        <div class='cell-text' id='text-1'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>
      <div class='cell cell-2'>
        <img class='responsive-img' src='./imgs/conscious-design--PiOL1xkc6U-unsplash.jpg' alt="relaxation">
      </div>

      <!-- Ear Massage -->
      <div class='cell cell-3'>
        <img class='responsive-img' src='./imgs/chelsea-shapouri.jpg' alt='photo-3'>
      </div>
      <div id='ear-massage' class='cell cell-4 color-two'>
        <h3>Ear Massage</h3>
        <div class='cell-text' id='text-2'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>

      <!-- Nose Massage -->
      <div id='nosemassage' class='cell cell-1 color-three'>
        <h3>Nose Massage</h3>
        <div class='cell-text' id='text-1'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>
      <div class='cell cell-2'>
        <img class='responsive-img' src='./imgs/AdobeStock_133550982.jpg' alt='relaxation'>
      </div>

      <!-- Soft Tissue Massage -->
      <div class='cell cell-3'>
        <img class='responsive-img' src='./imgs/katherine-hanlon.jpg' alt='photo-3'>
      </div>
      <div id='soft-tissue-massage' class='cell cell-4 light-grey'>
        <h3>Soft Tissue Massage</h3>
        <div class='cell-text' id='text-2'>
          <p>We are a premium mobile and sports therapy service,
            focused on pain relief, increased mobility and relaxation.
            A fully customised massage that meets your needs.
          </p>
          <p>
            Whether it's a deep relaxation massage in complete bliss,
            or a deep stretch to undo the damages of everyday living,
            we have you covered!
          </p>
          <div class='book-pricing-btns'>
            <a href='contact'><button class='book-price-btn'>Book Now</button></a>
            <a href='pricing'><button id='pricing-btn' class='book-price-btn'>Pricing</button></a>
          </div>
        </div>
      </div>


      <div class='footer-container'>
        <div class='footer'>
          <div id='slogan-footer'>
            <h2><span>Repair</span><span>Relax</span><span>Rebalance</span></h2>
          </div>
          <a href='therapies'><img id='logo-footer' src='logo-jpg/ERLogo.png' alt='Equilibrium Remedial'></a>

          <div class='socials-container'>
            <div id='true-local'><a href='https://www.truelocal.com.au/' target='_blank'>True Local</a></div>
            <div id='google-reviews'><a href='#'>Google Reviews</a></div>
            <div class='social-links'>
              <a href='#'><i class='fab fa-twitter'></i></a>
              <a href='#'><i class='fab fa-facebook'></i></a>
              <a href='#'><i class='fab fa-instagram'></i></a>
              <a href='#'><i class='fab fa-youtube'></i></a>
              <a href='#'><i class='far fa-envelope'></i></a>
            </div>
            <div id='phone-number'>
              <a href='#'><i id='phone' class='fas fa-mobile'></i><span>9837498734</span></a>
            </div>
          </div>

          <div class='footer-book-btn'>
            <button class='book-btn' id='book-btn-2'><a href='#'>Book Now</a></button>
          </div>

          <div class='legal-terms'>
            <p><a class ='underline' id='privacy-link' href='privacy'>Privacy Policy</a></p>
            <p class ='underline' id='copyright-text'> Copyright 2021 &copy; Equilibrium Remedial</p>
            <p><a class ='underline' id='terms-link' href='terms'>Terms &amp; Conditions</a></p>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Further information about the business -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <!-- Hamburger Animation Javascript -->
    <script src='javascript/main.js'></script>
  </body>
</html>