// Colors
$light-color: white;
$color-one: #659390;
$color-two: #9b4d67;
$color-three: #7f8695;
$color-four: #868d9f;
$light-grey: #999;
$dark-grey: #707070;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$playfair: 'Playfair Display', serif;
$alisha: 'Alisha', sans-serif;
$roboto: 'Roboto', sans-serif;

// Functions
@function button-background($bg-color) {
  @if ($bg-color == $color-one) {
    @return $color-three;
  } @else {
    @return $color-one;
  }
}
