@import '_config.scss';
@import '_footer.scss';
@import '_about.scss';
@import '_therapies.scss';
@import '_pricing.scss';
@import '_contact.scss';
@import '_menu.scss';
@import '_covid.scss';
@import '_mediaqueries.scss';
@import 'mediaqueries/_360x640.scss';
@import 'mediaqueries/_375x667.scss';
@import 'mediaqueries/_tablets.scss';

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Tags
body {
  color: $light-color;
}

p {
  font-family: $roboto, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1 {
  font-family: $playfair;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5em;
  text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}

h3 {
  font-family: $playfair;
  font-style: normal;
  font-weight: 100;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

// Classes
.showcase {
  background-image: url(../imgs/AdobeStock_37748320.jpg);
  background-size: cover;
  background-position: center;
  height: 650px;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;

    span {
      font-family: $playfair;
      margin: 0.4em;
      align-self: center;
      justify-content: center;
    }

    #showcase-title {
      align-items: center;
    }

    #showcase-therapy {
      font-family: $alisha;
      font-style: normal;
      font-weight: 400;
    }
  }
}

#logo {
  width: 215px;
  margin-left: 3em;
  position: relative;
  top: 5em;
  left: -8em;
}

.about {
  height: 500px;
}

.welcome {
  background-color: $color-one;
  font-weight: 100;
}

.cell {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 50%;
  height: 575px;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.cell-1,
.cell-4,
.cell-5 {
  align-items: center;
  justify-content: center;
  outline: 1.5px solid $dark-grey;
  outline-offset: -1em;

  h3 {
    font-size: 2em;
    text-decoration: underline solid 2px $dark-grey;
    text-underline-offset: 0.4em;
    margin-bottom: 1.5em;
    margin-top: -3em;
  }

  .cell-text {
    font-weight: 100;
    line-height: 1.6;
    max-width: 500px;
    max-height: 50%;
    justify-content: space-between;

    p {
      padding: 0.5em 0;
      font-family: $roboto;
      font-weight: 200;
      font-size: 1.1em;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 500px;
}

.book-btn {
  font-family: $playfair;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: $color-two;
  border: none;
  text-decoration: none;
  margin: auto 1.4em;
  padding: 0.5em 0.5em;
  position: relative;
  top: -0.5em;
  outline: none;
  cursor: pointer;

  // Color transition on hover off
  transition: 0.3s ease-out 0s;
}

a {
  color: $light-color;
}

.book-btn:hover {
  background-color: button-background($color-two);
  transition: 0.3s ease 0s;
}

// IDs

#slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -15.5em;
  left: 1.5em;

  span {
    font-weight: 100;
    font-size: 1.5em;
    text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
    margin: 0 2em;
  }
}

#showcase-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  position: relative;
  top: 10em;
  align-self: center;

  h1 {
    border-bottom: 7px solid $color-two;
  }
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -6em;
  right: -20em;
  margin-right: 5em;
  padding: 0 40px 0 0;

  .navbar-link {
    color: $light-color;
    font-family: $playfair;
    font-size: 1.2em;
    margin: 0 0.7em;
  }

  .navbar-link:hover {
    border-bottom: 5px solid $color-two;
    transition: 250ms;
  }
}

#menu-wrap {
  display: none;
  color: $light-color;
  position: relative;
  top: -7em;
  right: -25em;
  font-size: 2.5em;
}

#book-btn-1 {
  color: $light-color;
  font-size: 1.5em;
}

#book-btn-1:hover {
  transform: scale(0.98);
}

#text-3 {
  position: relative;
  top: -1.5em;
}

// Scrollbar Styling

body::-webkit-scrollbar {
  width: 25px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $color-two; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $dark-grey; /* color of the scroll thumb */
  border-radius: 5px; /* creates padding around scroll thumb */
  transition: 0.3s ease-out 0s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: $color-three; /* color of the scroll thumb */
  border-radius: 5px; /* creates padding around scroll thumb */
  transition: 0.3s ease 0s;
}
