// ******************//
// Media Queries
// ******************//

@media screen and (min-width: 1783px) {
  .showcase {
    .container {
      .menu-btn,
      .menu-btn-burger,
      .menu.open {
        display: flex;
      }
    }
  }

  .showcase {
    .container {
      .menu-btn,
      .menu-btn-burger,
      .menu {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1783px) {
  body {
    overflow-x: hidden;
  }

  // h1 {
  //   color: black;
  // }

  .container {
    max-width: 100%;
  }

  .cell {
    .responsive-img {
      max-width: 100%;
      height: 110%;
      object-fit: cover;
      background-color: $color-one;
    }
  }

  .showcase {
    .container {
      .menu-btn,
      .menu-btn-burger,
      .menu.open {
        display: flex;
      }
    }
  }

  .showcase {
    .container {
      .menu-btn,
      .menu-btn-burger,
      .menu {
        display: none;
      }
    }
  }
}

// Footer Social Links
@media screen and (max-width: 1500px) {
  // Footer Links
  .socials-container {
    display: grid;
    position: relative;
    right: -30em;
    top: -4em;
    text-align: center;
  }

  .footer-book-btn {
    #book-btn-2 {
      position: relative;
      left: -25em;
    }
  }
}

// Move Showcase Navbar and Logo
@media screen and (max-width: 1400px) {
  // h1 {
  //   color: green;
  // }

  // Navbar
  .container {
    #navbar {
      position: relative;
      right: -15em;
    }
  }

  // Footer
  .socials-container {
    right: -25em;
  }

  .footer-book-btn {
    #book-btn-2 {
      left: -20em;
    }
  }

  // Main Logo
  .showcase {
    .container {
      #logo {
        left: -5em;
      }
    }
  }
}

// Showcase Logo Moved to the right
@media screen and (max-width: 1300px) {
  .showcase {
    .container {
      #logo {
        left: -2em;
      }
    }
  }

  .container {
    #navbar {
      display: flex;
      position: relative;
      right: -10em;
    }
  }
}

@media screen and (max-width: 1200px) {
  .showcase {
    // h1 {
    //   color: pink;
    //   font-size: 4em;
    // }

    #slogan {
      bottom: -16.5em;
      span {
        font-size: 1.25em;
      }
    }
  }

  .price-options {
    .line {
      width: 50%;
    }
  }

  .container {
    #navbar {
      display: none;
    }
  }

  .showcase {
    .container {
      .menu-btn,
      .menu-btn-burger,
      .menu {
        display: flex;
      }
    }
  }

  .footer-book-btn {
    #book-btn-2 {
      left: -18em;
    }
  }

  .socials-container {
    position: relative;
    right: -22em;
    text-align: center;

    .social-links {
      a {
        font-size: 1em;
      }

      i {
        font-size: 30px;
        margin: 5px 5px;
        text-decoration: none;
      }

      div {
        margin: 0.25em 0 0.25em 0;
      }
    }
  }

  .cell {
    .cell-text {
      font-weight: 100;
      line-height: 1.6;
      width: 350px;
      // max-height: 50%;
      justify-content: space-between;

      p {
        padding: 0.5em 0;
        font-family: $roboto;
        font-weight: 200;
        font-size: 1.1em;
      }
    }
  }

  .about-info {
    width: 100%;
    height: 550px;

    p {
      max-width: 80%;
      font-size: 1.1em;
    }
  }

  .container {
    .therapy-pricing {
      height: 675px;

      h3,
      .cell-text,
      p {
        position: relative;
        top: -1em;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .showcase {
    .container {
      #menu-wrap {
        right: -21em;
      }
    }
  }

  .footer-book-btn {
    #book-btn-2 {
      left: -16em;
    }
  }

  .socials-container {
    position: relative;
    right: -21em;
    text-align: center;
  }
}

@media screen and (min-width: 415px) and (max-width: 900px) {
  .aden {
    .aden-info {
      h3 {
        top: 2em;
      }

      p {
        width: 80%;
        left: -3em;
      }
      .aden-photo {
        img {
          height: 250px;
        }
      }
    }
  }
}

// Mobile

// ******************//
// End of Media Queries
// ******************//
